*{
    margin: 0;
    padding: 0;
}

.box{
    width: 180px;
    height: 100px;
    text-align: center;

}
.inline-block{
    /*uno de bajo del otro*/
    display: block;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.box-grid{
    /*width: 180px;*/
    height: 100px;
    text-align: center; 
}

.container-grid{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}
