*{
    margin: 0;
    padding: 0;
}

.box{
    width: 180px;
    height: 100px;
    text-align: center;

}
.inline-block{
    /*uno de bajo del otro*/
    display: block;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.box-grid{
    /*width: 180px;*/
    height: 100px;
    text-align: center; 
}

.container-grid{
    margin: 5px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 100px 60px 200px;/*altura de cada fila*/
    gap: 5px ;/*para que no quede todo junto*/
}

#box6{ /*es mejor usar id para hablarle a una unica caja y
    grid-column: 2; /*comienza en la column 2*/
    grid-row: 1; /*pero quiero que estes en la fila 1*/
}
